/**{
    border: 1px red solid;
}*/

body{
    background-color: #3b587e;
    justify-content: center;
    align-items: center;      
}

#titulo{
    color: white;
    text-shadow:
    0 0 2px #000000,
    0 0 3px #000000,
    0 0 5px #000000;
    padding-left: 10px;
    padding-right: 10px;
        box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #000000,
              0 0 0.4rem #000000,
              0 0 0.5rem #000000,
              inset 0 0 0.6rem #000000; 
}

#formato{
    text-align: center;
    color: white;
    text-shadow:
    0 0 2px #000000,
    0 0 3px #000000,
    0 0 5px #000000;
}

hr{
    width: 40%;
}



#encabezado{
    background-color: #ff857c00;
    width: 600px;
    margin: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#formulario{
    background-color: #6b6969;
    width: 600px;
    margin: auto;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
    color: white;
    text-shadow:
    0 0 2px #000000,
    0 0 3px #000000,
    0 0 5px #000000;
        box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #000000,
              0 0 0.4rem #000000,
              0 0 0.5rem #000000,
              inset 0 0 0.6rem #000000; 
}

.cuerpoForma{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}


#boton{
text-align: center;
width: 500px;
}

hr{
    width: auto;
}

button{
    background-color: #775ece77;
    width: 100px;
    height: 50px;
    border-radius: 0px;
    transition: 0.2s;
    border: 1px solid #fff;
 
}

button:hover{
    color: white;
    transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #fff;

    border-radius: 20px;

    color: #fff;


}
    

.inputsresultados{
    padding-left: 50px;
}

#domicilios{
    display: flex;
}



